API_PORT=8787
OPENAI_API_KEY=
OPENAI_IMAGE_MODEL=gpt-image-2
OUTBOUND_PROXY=
MONTHLY_IMAGE_QUOTA=500
INITIAL_ADMIN_PASSWORD=ChangeMe123!
INITIAL_EMPLOYEE_PASSWORD=Employee123!
AMAZON_MODE=sandbox
AMAZON_PRODUCTION_CONFIRMATION=
AMAZON_SELLER_ID=
AMAZON_LWA_CLIENT_ID=
AMAZON_LWA_CLIENT_SECRET=
AMAZON_REFRESH_TOKEN=
